/* ************resets*****************/
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0px;
        padding: 0px;
}
html {   
    font-size: 16px;
    color: gray;
}

/* Selectors */
a {
    text-decoration: none;
}

li {

    list-style: none;

}
section {
    padding: 3rem 0rem;
}

.container {
    height: 70%;
    width: 30%;
    margin-bottom: 3rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    transition: transform 0.4s;
}

.container-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container:hover {
    transform: scale(1.05);
}